<%- partial('_partial/header') %>
<div class="page">
  <div class="page-title">
    <h1 class="article-title"><%= page.slug %></h1>
  </div>
  <div class="page-content">
    <%- page.content %>
  </div>
  <div class="page-footer">
    <a href="javascript:void(0)" class="load"><%= __('Post.Load') %></a>
    <a href="javascript:void(0)" class="top"><%= __('Post.Top') %></a>
  </div>
  
  <section id="isso-thread"></section>
</div>
<%- partial('_partial/footer') %>
